@model PracticaCelulares.Models.DTOCrud.cUsers
@{
    ViewBag.Title = "Agregar Usuario";
    List<SelectListItem> tipoList = (List<SelectListItem>)ViewBag.tipoList;
    List<SelectListItem> tipoRol = (List<SelectListItem>)ViewBag.tipoRol;
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Users", FormMethod.Post, new { role = "form", @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationMessage("error", new { @class = "text-danger" })


            @Html.LabelFor(u => u.UserName)
            <input class="form-control" id="UserName" name="UserName" type="text" value="" />
            @Html.ValidationMessage("UserName", new { @class = "text-danger" })<br />

            @Html.LabelFor(u => u.UserLogin)
            <input class="form-control" id="UserLogin" name="UserLogin" type="text" value="" />
            @Html.ValidationMessage("UserLogin", new { @class = "text-danger" })<br />

            @Html.LabelFor(u => u.Phone)
            <input class="form-control" id="Phone" name="Phone" type="text" value="" />
            @Html.ValidationMessage("Phone", new { @class = "text-danger" })<br />

            @Html.DropDownList("Tipo_Usuario", tipoList, "Selecciona el Tipo de Usuario", new { @class = "form-control" })
            <br />
            @Html.DropDownList("Rol", tipoRol, "Selecciona el Rol Deseado", new { @class = "form-control" })            
            <br />


            @Html.LabelFor(u => u.Passwordkey)
            @Html.PasswordFor(u => u.Passwordkey, new { @class = "form-control" })
            @Html.ValidationMessage("Passwordkey", new { @class = "text-danger" })<br />

            @Html.LabelFor(u => u.ConfirmPasswordkey)
            @Html.PasswordFor(u => u.ConfirmPasswordkey, new { @class = "form-control" })
            @Html.ValidationMessage("ConfirmPasswordkey", new { @class = "text-danger" })<br />

            <div style="text-align:right">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>

        }

    </div>
</div>

